.navbar {
    display: flex;
    background-color: rgb(21, 88, 143);
    padding: 30px;
    align-self: center;
}

.navbar-name {
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

.navbar-slogan {
    font-size: 13px;
    font-style: italic;
    color: white;
}

.navbar-team-names {
    position: fixed;
    right: 0;
    color: white;
    padding-right: 30px;
}

.navbar-logo {
    width: 200px;
}

body {
    background-color: rgb(184, 231, 250);
}