.navbar {
    display: flex;
    background-color: rgb(21, 88, 143);
    padding: 30px ;
    max-height: 100px;
    color: white;
    width: 900px;
    margin: 0 auto;
    opacity: 0.9;
}

.navbar-name {
    font-size: 35px;
}

.navbar-slogan {
    margin-top: 0;
}

.navbar-team-names {
    position: relative;
    color: white;
    padding-top: 58px;
    width: 232px;
    margin-left: 190px;
}

.navbar-logo {
    width: 200px;
    height: 110px;
}

.nav-vertical{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    text-align: left;
}
